.my-swiper .swiper-button-next, .swiper-button-prev{
    padding: 0;
}

.my-swiper  .swiper-button-next::after,
.my-swiper  .swiper-button-prev::after {
    font-size: 1.6rem;
    color: var(--color-primary);
}

.my-swiper .swiper-button-next:hover::after,
.my-swiper .swiper-button-prev:hover::after {
    color: white;
}