.home-swiper .swiper-button-next,
.home-swiper .swiper-button-prev {
    color: var(--color-zinc-800);
}

.home-swiper .swiper-button-next::after {
    margin-left: 10px;
}

.home-swiper .swiper-button-prev::after {
    margin-right: 10px;
}

.home-swiper .swiper-button-next::after,
.home-swiper .swiper-button-prev::after {
    margin-bottom: 60px;
    font-size: 2rem;
    border-radius: 30%;
}

.home-swiper .swiper-button-next:hover::after,
.home-swiper .swiper-button-prev:hover::after {
    color: var(--color-tertiary);
}