.my-swiper .swiper-button-next,
.my-swiper .swiper-button-prev {
    color: var(--color-zinc-800);
}

.my-swiper .swiper-button-next::after{
    margin-left: 10px;
}

.my-swiper .swiper-button-prev::after{
    margin-right: 10px;
}

.my-swiper .swiper-button-next::after,
.my-swiper .swiper-button-prev::after {
    margin-bottom: 40px;
    font-size: 2rem;
    border-radius: 30%;
}

.my-swiper .swiper-button-next:hover::after,
.my-swiper .swiper-button-prev:hover::after {
    color: var(--color-tertiary);
}