.room-swiper .swiper-button-next,
.room-swiper .swiper-button-prev {
    font-weight: bold;
    padding: 0;
}

.room-swiper .swiper-button-prev::after {
    margin-right: 10px;
}

.room-swiper .swiper-button-next::after {
    margin-left: 10px;
}

.room-swiper .swiper-button-next::after,
.room-swiper .swiper-button-prev::after {
    font-size: 1.6rem;
    font-weight: bold;
    color: #832220;
}

.room-swiper .swiper-button-next:hover::after,
.room-swiper .swiper-button-prev:hover::after {
    color: white;
}