@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@theme {
  --color-primary: #ffe6a7;
  --color-secondary: #432818;
  --color-tertiary: #99582a;
  --color-quaternary: #bb9457;
  --color-quinary: #6f1d1b;
}

.swiper-button-next, .swiper-button-prev{
  padding: 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.6rem;
  color: var(--color-primary);
}
.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: white;
}
