@import "tailwindcss";

@theme {
  --color-primary: #ffe6a7;
  --color-secondary: #432818;
  --color-tertiary: #99582a;
  --color-quaternary: #bb9457;
  --color-quinary: #6f1d1b;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
